body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #1034a6;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  font-size: 16px;
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

.far,
.fab,
.fas {
  color: #f39c12;
  font-size: 25px;
  display: inline-block;
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: gray;
  color: white;
}

div.content {
  margin-left: 300px;
  padding: 16px 16px;
  height: 1000px;
  width: 500px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/********************
Form Module
*********************/

form {
  margin-left: 160px;
}

input {
  width: 500px;
  font-size: 16px;
  font-weight: 100px;
  padding: 12px 0 10px 5px;
  transition: border 0.5s;
  color: blue;
}

/* Extra Small devices (Phones, up to 480px) */
@media only screen and (max-width: 47.9375em) {
  form {
    margin-left: auto;
  }

  input {
    width: 300px;
    font-size: 16px;
    font-weight: 50px;
    padding: 20px 0 10px 5px;
    transition: border 0.5s;
    color: blue;
  }
  #select-size {
    width: 300px;
  }
  .select {
    width: 300px;
  }
}

/*Only display Navigation Links for Small Devices (tablets, 768px and up)*/
@media (min-width: 48em) {
  .title {
    margin-left: 220px;
    font-size: 18px;
  }
  #select-size {
    width: 500px;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: gray;
  border: 1px solid black;
}
.select {
  position: relative;
  display: block;
  width: 500px;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
}

.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
